<ul class="nav">
{% for link in links %}
    {% if link.count()==0 %}
        <li>{{ view('navigation ~ link', { link: link }) }}</li>
    {% else %}
        <li class="dropdown">
            <a href="{{ url(link.url) }}" data-toggle="dropdown" class="dropdown-toggle">{{ link.title }} <b class="caret"></b></a>
            {{ link.render('ul', {args: 'class="dropdown-menu"'})|raw }}
        </li>
    {% endif %}
{% endfor %}
</ul>